@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Poppins&display=swap");

#navbar {
    background: #595e16;
    height: 50px;
    position: sticky;
    top: 0;
}

#hello {
    box-shadow: 6px 11px 9px 1px #b2a71a;
    border: 2px solid white;
    border-radius: 60px;
    margin: 10px;
    padding: -2px;
    place-content: center;
    display: grid;
    gap: 4px;
    height: 471px;
    width: 307px;
    background-color: rgb(0, 0, 0);
    margin-top: 93px;
}

span {
    font-size: 17px;
    font-family: "Fira Mono", monospace;
}

#create {
    background-color: yellow;
    border: 2px rgb(253, 0, 0) solid;
    margin-top: -10px;
    margin-bottom: 8px;
    width: 64%;
    /* border-radius: 1rem; */
    cursor: pointer;
    padding: 6px 7px;
    margin-left: 33px;
}

#create:hover {
    border: 2px solid green;
    color: #fff;
    background-color: black;
}

#head2 {
    font-family: "Fira Mono", monospace;
    font-size: 25px;
    position: fixed;
    top: -8px;
    left: 693px;
}

#name {
    width: 231px;
    border: 3px solid yellow;
    height: 24px;
    border-radius: 10px;
}

#name:hover {
    background-color: #545252;
    color: #000000;
}

#num {
    width: 231px;
    border: 3px solid yellow;
    height: 24px;
    border-radius: 10px;
}

#num:hover {
    background-color: #545252;
    color: #000000;
}

#image {
    width: 231px;
    border: 3px solid yellow;
    height: 24px;
    border-radius: 10px;
}

#image:hover {
    background-color: #545252;
    color: #000000;
}

#foodname {
    width: 231px;
    border: 3px solid yellow;
    height: 24px;
    border-radius: 10px;
}

#foodname:hover {
    background-color: #545252;
    color: #000000;
}

#recipe {
    width: 231px;
    border: 3px solid yellow;
    height: 26px;
    border-radius: 10px;
}

#recipe:hover {
    background-color: #545252;
    color: #000000;
}

#container {
    margin-top: 157px;
}

#email {
    width: 231px;
    border: 3px solid yellow;
    height: 24px;
    border-radius: 10px;
}

#email:hover {
    background-color: #545252;
    color: #000000;
}

#pass {
    width: 231px;
    border: 3px solid yellow;
    height: 24px;
    border-radius: 10px;
}

#pass:hover {
    background-color: #545252;
    color: #000000;
}

body {
    background-color: #000000;
    margin: 0;
    color: white;
}

.nav-bg {
    margin-top: 100px;
    background: #595e16;
    background-size: cover;
}

.text-footer {
    text-align: center;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.nav-bg p {
    font-size: 20px;
}