.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}


.hover{
  font-weight: 500;
  padding-top: 10px;
  border: 2px solid gray;
  border-radius:10px;
  padding: 10px;
  padding-bottom:10px;
  
}
.hover:hover{
  background: #90EE90;
  color: black;
}
/* .button1{
  margin-top: 20px;
  margin-left: 30px;
  
}
.button1:hover{
  background-color: rgb(243, 116, 255);
  color: black;
} */
.button1 {
  margin-top: 20px;
  margin-left: 30px;
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  /* background-image: linear-gradient(90deg,#1c1c1c,rgb(243, 116, 255)); */
  border: 0 solid;
  overflow: hidden;
}

.button1:hover {
  background-image: linear-gradient(90deg,#1c1c1c,rgb(243, 116, 255));
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}

.button2 {
  margin-top: 20px;
  margin-left: 350px;
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  /* background-color: linear-gradient(90deg,#1c1c1c,#6220fb); */
  border: 0 solid;
  overflow: hidden;
}

.button2:hover {
  background-image: linear-gradient(90deg,#1c1c1c,rgb(48, 172, 255));
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}

/* .button2{
  margin-top: 20px;
  margin-left: 400px;
  
}
.button2:hover{
  background-color: rgb(119, 198, 251);
  color: black;
} */
.const{
  margin-top: 1rem;
  margin-left: 200px;
}
/* .button3{
  font-weight: 500;
  cursor: pointer;
  background-color:#ff77e8;
  color: black;
  font-size: large;
  border-radius: 9px;
  padding: 5px ;
  text-align: center;
  justify-content: center;
  width: 600px;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: 35px;
}
.button3:hover{
  background-color: #4CAF50;
} */
.button3 {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #000;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 4px;
  font-size: large;
  padding: 0.4em 2em;
  background: var(--hover-bg);
  transition: 0.2s;
  text-align: center;
  width: 595px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 37px;
}

.button3:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: #4CAF50;
  box-shadow: 0.25rem 0.35rem var(--bg);
}

.button3:active {
  transform: translate(0);
  box-shadow: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
